mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
}

app-autorizado {
    display: flex;
}

.space{
    font-size: 18px;
}

.saludo{
    font-size: 18px;
    display: inline
}