mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
}

app-authotized {
    display: flex;
}

.space{
    flex: 1 1 auto
}

.saludo{
    font-size: 14px;
    display: inline
}