<mat-toolbar>
    <span>
        <a mat-button routerLink="">Template</a>
    </span>
    <app-authorized rol="admin">
        <ng-container authorized>
            <span>
                <a mat-button routerLink="todo">ToDo</a>
            </span>
        </ng-container>
    </app-authorized>
   
    <span>
        <a mat-button routerLink="about">About</a>
    </span>
    <div class="space"></div>
    <app-authorized style="display: inline">
        <app-authorized style="display:inline">
            <ng-container autorizado>
                <span class="saludo">Hi, {{securityService.getFieldJWT('email')}}</span>
                <a mat-button (click)="securityService.logout()">Logout</a>
            </ng-container>
    
            <ng-container noAutorizado>
                <a mat-button routerLink="login">Login</a>
                <a mat-button routerLink="register">Register</a>
            </ng-container>
        </app-authorized>
    </app-authorized>
</mat-toolbar>
