<mat-toolbar>
    <span>
        <a routerLink="" mat-button>
            <mat-icon>home</mat-icon> Angular
        </a>
    </span>

    <div>
        <a mat-button routerLink="filtrar">
            <mat-icon>search</mat-icon>
            Buscar</a>
    </div>

    <app-authorized role="admin" style="display:inline">
        <ng-container authorized>
            <span style="margin-right: 5px;">
                <a mat-button routerLink="todos">To do</a>
            </span>
            <span>
                <a mat-button routerLink="users">Users</a>
            </span>
        </ng-container>
    </app-authorized>

    <div>
        <a mat-button routerLink="about">About</a>
    </div>

    <div class="space"></div>

    <app-authorized style="display:inline">
        <ng-container authorized>
            <span class="saludo">Hi, {{securityService.getFieldJWT('email')}}</span>
            <a mat-button (click)="securityService.logout()">Logout</a>
        </ng-container>

        <ng-container noAuthorized>
            <a mat-button routerLink="login">Login</a>
            <a mat-button routerLink="register">Registro</a>
        </ng-container>
    </app-authorized>

</mat-toolbar>
