mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

app-authotized {
    display: flex;
    
}

.space{
    flex: 1 1 auto
}

.saludo{
    font-size: 14px;
    display: inline
}

ng-container[authorized] {
    display: flex;
    flex-direction: row; /* Alinea los elementos en una fila */
    gap: 10px; /* Espacio entre los elementos, opcional */
  }
  
  ng-container[authorized] div {
    margin-right: 10px; /* Opcional, para agregar espacio entre los enlaces */
  }
