<div class="hero-section">
    <h1>Bienvenido a [Nombre de la Aplicación]</h1>
    <p>Una aplicación que te ayudará a [valor principal de la app].</p>
    <button class="cta-button">Empieza ahora</button>
  </div>
  
  <div class="features-section">
    <h2>.NET 9</h2>
    <div class="feature">
      <h3>Rendimiento Mejorado:</h3>
      <p>.NET 9 sigue mejorando en rendimiento, aprovechando las optimizaciones en tiempo de compilación y en tiempo de ejecución, ofreciendo una mejor gestión de memoria y tiempos de respuesta más rápidos.</p>
    </div>
    <div class="feature">
      <h3>Compatibilidad con C# 12:</h3>
      <p>Con .NET 9, puedes utilizar las últimas características de C# 12, que incluyen mejoras en la claridad del código, nuevas capacidades de patrones y más herramientas para el manejo seguro de código</p>
    </div>
    <h2>Angular 18</h2>
    <div class="feature">
      <h3>Mejoras en la Velocidad de Compilación:</h3>
      <p>Angular 18 incluye mejoras significativas en la velocidad de compilación gracias a la optimización del compilador Ivy, lo que reduce los tiempos de construcción y mejora la experiencia de desarrollo.</p>
    </div>
    <div class="feature">
      <h3>Funcionalidades de Testing Mejoradas:</h3>
      <p>Angular 18 introduce nuevas funcionalidades para simplificar las pruebas de las aplicaciones, como mejor soporte para pruebas end-to-end y herramientas más potentes para el testing de componentes.</p>
    </div>
    
  </div>
  
  
